version: "3.9"

services:
    author-service:
        image: lms-authors:latest
        container_name: author-service
        build: .
        ports:
            - "8082:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker

            SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/authors

            SPRING_RABBITMQ_HOST: rabbitmq
            SPRING_RABBITMQ_PORT: 5672

        networks:
            - lms_network

networks:
    lms_network:
        external: true
