services:
    postgres_in_lms_network:
        image: postgres:latest
        container_name: postgres_in_lms_network
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: authors_1
        ports:
            - "5432:5432"
        networks:
            - lms_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            retries: 5

    lmsauthors_1:
        image: lmsauthors:latest
        container_name: authors1_in_lms_network
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8087:8080"
        environment:
            SPRING_PROFILES_ACTIVE: instance1,bootstrap
        networks:
            - lms_network
        volumes:
            - "uploaded_files_volume_1:/tmp"
        depends_on:
            postgres_in_lms_network:
                condition: service_healthy

    lmsauthors_2:
        image: lmsauthors:latest
        container_name: authors2_in_lms_network
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8088:8080"
        environment:
            SPRING_PROFILES_ACTIVE: instance2,bootstrap
        networks:
            - lms_network
        volumes:
            - "uploaded_files_volume_2:/tmp"
        depends_on:
            postgres_in_lms_network:
                condition: service_healthy

networks:
    lms_network:
        external: true

volumes:
    uploaded_files_volume_1:
    uploaded_files_volume_2: