version: "3.9"

services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        restart: unless-stopped
        ports:
            - "5672:5672"
            - "15672:15672"
        networks:
            - lms_network

    mongo:
        image: mongo:6
        container_name: mongo
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db
        networks:
            - lms_network

    postgres:
        image: postgres:18
        container_name: postgres
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - lms_network

networks:
    lms_network:
        name: lms_network

volumes:
    mongo_data:
    postgres_data: