services:
    readers:
        image: ${DOCKER_IMAGE:-cralos062/lms-readers:latest}
        ports:
            - "${HOST_PORT:-8090}:8090"
        depends_on:
            postgres_readers:
                condition: service_healthy
        environment:
            SPRING_PROFILES_ACTIVE: sql,bootstrap,base65,instance1
            SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_readers:5432/readers_1
            SPRING_DATASOURCE_USERNAME: postgres
            SPRING_DATASOURCE_PASSWORD: password
            SPRING_RABBITMQ_HOST: rabbitmq
            SPRING_RABBITMQ_PORT: 5672
            FEATURE_MAINTENANCE_KILLSWITCH: ${KILLSWITCH_ACTIVE:-false}
            DARKLAUNCH_SECRET_HEADER: X-LMS-Beta-Access
        networks:
            lms_network:
                aliases:
                    - readers-service
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.readers-${COLOR:-blue}.rule=PathPrefix(`/api/readers`)"
            - "traefik.http.services.readers-${COLOR:-blue}.loadbalancer.server.port=8090"
        healthcheck:
            test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8090/actuator/health" ]
            interval: 15s
            timeout: 5s
            retries: 5
            start_period: 60s # Aumentado para dar tempo à app de arrancar após a BD

    postgres_readers:
        image: postgres:18
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: readers_1
        volumes:
            - postgres_readers_volume:/var/lib/postgresql
        networks:
            lms_network:
                aliases:
                    - postgres_readers
        healthcheck:
            # O 'pg_isready' é o comando padrão, mas adicionamos o -d readers_1
            test: [ "CMD-SHELL", "pg_isready -U postgres -d readers_1" ]
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 30s # Crucial: Dá 30 segundos ao Postgres para criar os ficheiros iniciais no volume

networks:
    lms_network:
        external: true

volumes:
    postgres_readers_volume: